<div id="loginpage_border">
<div id="loginpage">
<form method="post" action="{:U('User/login')}">
用户名：<input type="text" name="user_name" size="10"/> <br/><br/>
密&nbsp&nbsp&nbsp&nbsp码：<input type="password" name="password" size="10"/> <br/><br/>
<input type="submit" value="登录" class="loginpage_loginbut" />
<a class="loginpage_register" href="{:U('User/registerpage')}" style="font-size:15px;">注册</a>
<a class="loginpage_register" href="{:U('User/findpasspage')}" style="font-size:15px;">忘记密码</a>
</form>
</div>
</div>