 <table style="width:97%;margin:5px;text-align:center">
    <tr style="background:#D2F9F9">
        <th style="width:10%">编号</th>
        <th style="width:60%">标题</th>
        <th style="width:30%">操作</th>
    </tr>
    <volist name="zg" id="vo">
        <if condition="$vo.zhaogong_id neq ''">
        	<tr><td>{$vo.zhaogong_id}</td>
     		<td><a href="{:U('/Jz/zginfo',array('id'=>$vo[zhaogong_id]))}"  target="_Blank">{$vo.title}</a></td>
	        <td><a href="{:U('/Jz/rezgpage',array('zhaogong_id'=>$vo[zhaogong_id]))}">修改</a>&nbsp&nbsp&nbsp
            <if condition="$vo.status eq 0">
            <a href="{:U('/Jz/rezgstatus',array(status => 1,'zhaogong_id'=>$vo[zhaogong_id]))}">已招到</a>
            <else />
            <a href="{:U('/Jz/rezgstatus',array(status => 0,'zhaogong_id'=>$vo[zhaogong_id]))}">重招</a>
            </if>
            &nbsp&nbsp&nbsp&nbsp<a href="{:U('/Jz/delzg',array(zhaogong_id=>$vo[zhaogong_id]))}">删除</a></td>
    </tr>
        </if>
    </volist>
    </table>