<div id="jiazhenggongsi_border">
<div style="margin:15px 10px 0px 7px; width:100%">
友情家政公司：
<ul style="width: 224px;
    line-height: 36px;
    font-size: 12px;
    float: left;
    background: url(/Public/image/jzgs_bg.png);
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
">
<volist name="jzgs" id="it">
<li><a href="http://{$it.url}" class="jzgs">{$it.name}</a></li>
</volist>
</ul>
</div>
</div>